<div class="container">
	<div class="container-fluid">
			<app-top-menu></app-top-menu>
			<article>
				<section>
            <div class="loaderAnimation" [hidden]="!loading"><span>
              <img src="assets/images/mbLoader.gif" width="45" height="45" alt="Loader"> Loading Results</span>
            </div>
            <div [hidden]="loading" class="router-output">
                <router-outlet></router-outlet>
              </div>
				</section>
			</article>
			<footer>
				<bottom-nav></bottom-nav>
			</footer>
		</div>
	</div>
